In [9]:
from trino.dbapi import connect
from trino.auth import BasicAuthentication
import pandas as pd

In [10]:
conn = connect(
    host="trino.aisac-dev.vnsilicon.cloud",
    port=443,
    catalog="glue_dp",
    auth=BasicAuthentication("de", "KSRmKaBCcuyAGZML"),
    schema="dp_bronze"
)

In [11]:
df = pd.read_sql_query("SELECT * FROM fact_daily_prices", conn)

/var/folders/fc/mgc_t1mn5kq1njs8pzw1jrn00000gp/T/ipykernel_12089/797788436.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM fact_daily_prices", conn)

In [12]:
df

,price_date,country_code,category_id,product_id,price_type,price_type_en,unit_id,currency_code,min_price,max_price,avg_price,source_file,created_at
0,2025-11-07,TH,P11000,P11003,ขายปลีก,retail,1.0,THB,130.0,150.0,140.0,price-data/2025-11-17/retail/P11000/P11003.xls,2025-11-28 13:37:55.633961
1,2025-11-07,TH,P11000,P11005,ขายปลีก,retail,1.0,THB,170.0,200.0,185.0,price-data/2025-11-17/retail/P11000/P11005.xls,2025-11-28 13:37:55.633961
2,2025-11-07,TH,P11000,P11006,ขายปลีก,retail,1.0,THB,75.0,85.0,80.0,price-data/2025-11-17/retail/P11000/P11006.xls,2025-11-28 13:37:55.633961
3,2025-11-07,TH,P11000,P11017,ขายปลีก,retail,1.0,THB,60.0,70.0,65.0,price-data/2025-11-17/retail/P11000/P11017.xls,2025-11-28 13:37:55.633961
4,2025-11-07,TH,P11000,P11019,ขายปลีก,retail,1.0,THB,25.0,30.0,27.5,price-data/2025-11-17/retail/P11000/P11019.xls,2025-11-28 13:37:55.633961
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18370,2025-11-04,TH,W18000,W18042,ขายส่ง,wholesale,14.0,None,1002.5,1002.5,1002.5,price-data/2025-11-17/wholesale/W18000/W18042.xls,2025-11-28 13:37:55.633961
18371,2025-11-04,TH,W18000,W18045,ขายส่ง,wholesale,1.0,THB,28.0,29.0,28.5,price-data/2025-11-17/wholesale/W18000/W18045.xls,2025-11-28 13:37:55.633961
18372,2025-11-04,TH,W18000,W18078,ขายส่ง,wholesale,1.0,THB,110.0,130.0,120.0,price-data/2025-11-17/wholesale/W18000/W18078.xls,2025-11-28 13:37:55.633961
18373,2025-11-04,TH,W18000,W18097,ขายส่ง,wholesale,15.0,THB,750.0,765.0,757.5,price-data/2025-11-17/wholesale/W18000/W18097.xls,2025-11-28 13:37:55.633961
18374,2025-11-04,TH,W18000,W18105,ขายส่ง,wholesale,1.0,THB,25.0,26.0,25.5,price-data/2025-11-17/wholesale/W18000/W18105.xls,2025-11-28 13:37:55.633961