In [2]:
from trino.dbapi import connect
from trino.auth import BasicAuthentication
import pandas as pd

In [3]:
conn = connect(
    host="trino.aisac-dev.vnsilicon.cloud",
    port=443,
    catalog="glue_dp",
    auth=BasicAuthentication("de", "KSRmKaBCcuyAGZML"),
    schema="dp_silver"
)

In [4]:
df = pd.read_sql_query("SELECT * FROM dp_silver.dim_categories WHERE price_date >= 2025-12-29 AND price_date <= 2025-12-29", conn)

/var/folders/fc/mgc_t1mn5kq1njs8pzw1jrn00000gp/T/ipykernel_8112/2616319211.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM dp_silver.dim_categories WHERE price_date >= 2025-12-29 AND price_date <= 2025-12-29", conn)

DatabaseError: Execution failed on sql: SELECT * FROM dp_silver.dim_categories WHERE price_date >= 2025-12-29 AND price_date <= 2025-12-29
TrinoUserError(type=USER_ERROR, name=COLUMN_NOT_FOUND, message="line 1:46: Column 'price_date' cannot be resolved", query_id=20251230_084021_00030_9qrn7)
unable to rollback

In [6]:
df

,price_date,country_code,category_id,product_id,price_type,price_type_en,unit_id,currency_code,min_price,max_price,avg_price,source_file,created_at
0,2025-11-03,TH,P11000,P11003,ขายปลีก,retail,1,THB,130.0,150.0,140.00,price-data/2025-11-17/retail/P11000/P11003.xls,2025-12-22 15:18:47.096648
1,2025-11-03,TH,P11000,P11009,ขายปลีก,retail,2,THB,70.0,75.0,72.50,price-data/2025-11-17/retail/P11000/P11009.xls,2025-12-22 15:18:47.096648
2,2025-11-03,TH,P11000,P11011,ขายปลีก,retail,1,THB,90.0,95.0,92.50,price-data/2025-11-17/retail/P11000/P11011.xls,2025-12-22 15:18:47.096648
3,2025-11-19,TH,P11000,P11001,ขายปลีก,retail,1,THB,160.0,165.0,162.50,price-data/2025-11-19/retail/P11000/P11001.xls,2025-12-22 15:32:04.786276
4,2025-11-19,TH,P11000,P11023,ขายปลีก,retail,3,THB,7.3,7.8,7.55,price-data/2025-11-19/retail/P11000/P11023.xls,2025-12-22 15:32:04.786276
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23225,2025-11-07,TH,W18000,W18094,ขายส่ง,wholesale,16,THB,540.0,540.0,540.00,price-data/2025-11-17/wholesale/W18000/W18094.xls,2025-12-22 15:18:47.096648
23226,2025-11-07,TH,W18000,W18099,ขายส่ง,wholesale,17,THB,330.0,340.0,335.00,price-data/2025-11-17/wholesale/W18000/W18099.xls,2025-12-22 15:18:47.096648
23227,2025-11-07,TH,W18000,W18103,ขายส่ง,wholesale,9,THB,95.0,104.0,99.50,price-data/2025-11-17/wholesale/W18000/W18103.xls,2025-12-22 15:18:47.096648
23228,2025-11-07,TH,W18000,W18105,ขายส่ง,wholesale,1,THB,23.0,24.0,23.50,price-data/2025-11-17/wholesale/W18000/W18105.xls,2025-12-22 15:18:47.096648
23229,2025-11-07,TH,W18000,W18107,ขายส่ง,wholesale,16,THB,815.0,895.0,855.00,price-data/2025-11-17/wholesale/W18000/W18107.xls,2025-12-22 15:18:47.096648

In [12]:
df

,price_date,country_code,category_id,product_id,price_type,price_type_en,unit_id,currency_code,min_price,max_price,avg_price,source_file,created_at
0,2025-11-07,TH,P11000,P11003,ขายปลีก,retail,1.0,THB,130.0,150.0,140.0,price-data/2025-11-17/retail/P11000/P11003.xls,2025-11-28 13:37:55.633961
1,2025-11-07,TH,P11000,P11005,ขายปลีก,retail,1.0,THB,170.0,200.0,185.0,price-data/2025-11-17/retail/P11000/P11005.xls,2025-11-28 13:37:55.633961
2,2025-11-07,TH,P11000,P11006,ขายปลีก,retail,1.0,THB,75.0,85.0,80.0,price-data/2025-11-17/retail/P11000/P11006.xls,2025-11-28 13:37:55.633961
3,2025-11-07,TH,P11000,P11017,ขายปลีก,retail,1.0,THB,60.0,70.0,65.0,price-data/2025-11-17/retail/P11000/P11017.xls,2025-11-28 13:37:55.633961
4,2025-11-07,TH,P11000,P11019,ขายปลีก,retail,1.0,THB,25.0,30.0,27.5,price-data/2025-11-17/retail/P11000/P11019.xls,2025-11-28 13:37:55.633961
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18370,2025-11-04,TH,W18000,W18042,ขายส่ง,wholesale,14.0,None,1002.5,1002.5,1002.5,price-data/2025-11-17/wholesale/W18000/W18042.xls,2025-11-28 13:37:55.633961
18371,2025-11-04,TH,W18000,W18045,ขายส่ง,wholesale,1.0,THB,28.0,29.0,28.5,price-data/2025-11-17/wholesale/W18000/W18045.xls,2025-11-28 13:37:55.633961
18372,2025-11-04,TH,W18000,W18078,ขายส่ง,wholesale,1.0,THB,110.0,130.0,120.0,price-data/2025-11-17/wholesale/W18000/W18078.xls,2025-11-28 13:37:55.633961
18373,2025-11-04,TH,W18000,W18097,ขายส่ง,wholesale,15.0,THB,750.0,765.0,757.5,price-data/2025-11-17/wholesale/W18000/W18097.xls,2025-11-28 13:37:55.633961
18374,2025-11-04,TH,W18000,W18105,ขายส่ง,wholesale,1.0,THB,25.0,26.0,25.5,price-data/2025-11-17/wholesale/W18000/W18105.xls,2025-11-28 13:37:55.633961